#!/bin/sh

export FULLNAME="Daniel Martí"
export EMAIL="mvdan@mvdan.cc"

export GOPATH="$HOME/go"
export PATH="$HOME/.bin:$GOPATH/bin:$PATH:/opt/gradle/bin"

export LESS=-FXRi
export PAGER=less
export EDITOR=vim
export DIFF_VIEWER=vimdiff
export BROWSER=chromium

export JAVA_HOME=/usr/lib/jvm/default
export JAVA7_HOME=/usr/lib/jvm/java-7-openjdk
export JAVA8_HOME=/usr/lib/jvm/java-8-openjdk
