[user]
    name = Daniel Martí
    email = mvdan@mvdan.cc
    editor = vim
    signingkey = 58BF72C3
[color]
    ui = true
[push]
    default = current
[filter "tabspace"]
	smudge = unexpand --tabs=4 --first-only
	clean = expand --tabs=4 --initial
