/*
!/.*
*.d/
/.config/dconf/
/.config/gconf/
/.config/gtk-2.0/
/.config/menus/
/.config/transmission/
/.config/user-dirs*
/.config/systemd/
/.gnupg/*.gpg*
/.gnupg/random_seed
/.ssh/id_*
/.ssh/known_hosts
*cache
*cookie*
*state
*.db
*.pid
*.env
