[user]
    name = Daniel Martí
    email = mvdan@mvdan.cc
    editor = vim
    signingkey = 4348041C
[color]
    ui = true
[push]
    default = current
[filter "tabspace"]
	smudge = unexpand --tabs=4 --first-only
	clean = expand --tabs=4 --initial
[alias]
	ad = add
	adp = add -p
	ap = apply
	bs = bisect
	ba = branch -a
	br = branch
	ca = commit -a -v
	cle = clean -dffx
	clo = clone
	cm = commit -v
	co = checkout
	df = diff
	dfc = diff --cached
	dfo = diff ORIG_HEAD..
	dfs = diff --submodule
	dfu = diff @{u}..
	fe = fetch
	gr = grep
	lo = log
	lop = log -p
	lou = log @{u}..
	ls = ls-files
	mr = merge
	pl = pull
	pla = pull --all
	plr = pull -r
	ps = push
	rb = rebase
	rbi = rebase -i
	rm = rm
	rmc = rm --cached
	rs = reset
	rsh = reset --hard
	rsp = reset -p
	rt = remote
	rv = revert
	s = status -sb -uno
	ss = status -sb
	sh = show
	sm = submodule
	smu = submodule update --init --recursive
	smf = submodule foreach --recursive
	st = stash
	svn = svn
