/*
!/.*
*.d/
/.config/*
!/.config/chromium-flags.conf
!/.config/environment.d/
!/.config/foot/
!/.config/git/
!/.config/go/
!/.config/helix/
!/.config/mpd/
!/.config/mpv/
!/.config/mutt/
!/.config/ncmpc/
!/.config/notmuch/
!/.config/nvim/
!/.config/sway/
!/.config/zathura/

/.gnupg/*.gpg*
/.gnupg/random_seed
/.ssh/id_*
/.ssh/known_hosts
*cache
*cookie*
*state
*.db
*.pid
*.env
