[submodule ".config/nvim/bundle/commenter"]
	path = .config/nvim/bundle/commenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".config/nvim/bundle/fetch"]
	path = .config/nvim/bundle/fetch
	url = https://github.com/kopischke/vim-fetch
[submodule ".config/nvim/bundle/fugitive"]
	path = .config/nvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/bundle/solarized"]
	path = .config/nvim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
