[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/fetch"]
	path = .vim/pack/plugins/start/fetch
	url = https://github.com/wsdjeg/vim-fetch
[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/airline-themes"]
	path = .vim/pack/plugins/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/commentary"]
	path = .vim/pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/plugins/start/govim"]
	path = .vim/pack/plugins/start/govim
	url = https://github.com/govim/govim
[submodule ".vim/pack/plugins/start/unimpaired"]
	path = .vim/pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/plugins/start/oscyank"]
	path = .vim/pack/plugins/start/oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
